$pc: 1025px;
$pad: 1024px;
$sp-over: 768px;
$sp: 767px;

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin pad {
  @media (max-width: $pad) {
    @content;
  }
}

@mixin sp-over {
  @media (min-width: $sp-over) {
    @content;
  }
}

@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

@mixin en {
  .en & {
    @content;
  }
}
