$pc: 1025px;
$pad: 1024px;
$sp-over: 768px;
$sp: 767px;

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

@mixin pad {
  @media (max-width: $pad) {
    @content;
  }
}

@mixin sp-over {
  @media (min-width: $sp-over) {
    @content;
  }
}

@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

@mixin en {
  .en & {
    @content;
  }
}

@mixin diagonal-top($bg-color) {
  position: relative;
  background: $bg-color;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: inherit;
    transform: skewY(-2deg);
    transform-origin: top left;
  }
}

@mixin diagonal-bottom($bg-color) {
  position: relative;
  background: $bg-color;
  &::after {
    content: "";
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: 80px;
    background: inherit;
    transform: skewY(-2deg);
    transform-origin: bottom left;
  }
}
