@use "../../settings/_variable" as v;
@use "../../settings/_mixin" as r;

.p-company {
  &__sec {
    background: #fff;
    padding: 100px 0;
    @include r.sp {
      padding: 70px 0;
    }
    &.bg-gray {
      background: v.$base-color;
    }
    &__ttl {
      border-left: 6px solid v.$main-color;
      font-size: 28px;
      font-weight: bold;
      padding-left: 16px;
    }
  }
  &2 {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 40px;
      padding-left: 16px;
      @include r.sp {
        padding-left: 0;
      }
      &__ttl {
        font-size: 20px;
        color: v.$main-color;
      }
    }
  }
  &3 {
    &__table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 40px;
      th,
      td {
        border-bottom: 1px solid #e5e7eb;
        text-align: left;
        padding: 20px;
        @include r.sp {
          display: block;
        }
      }
      th {
        width: 30%;
        background: #fff;
        font-weight: bold;
        @include r.sp {
          width: 100%;
        }
      }
    }
  }
  &4 {
    &__map {
      width: 100%;
      margin-top: 40px;
    }
  }
}
